<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.tzl.shop"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" 
        android:name="cn.tzl.shop.application.MyApplication">
        <activity
            android:name="cn.tzl.shop.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.tzl.shop.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="cn.tzl.shop.MainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="cn.tzl.shop.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="cn.tzl.shop.RetrievePasswordActivity"
            android:label="@string/title_activity_retrieve_password" >
        </activity>
        <activity
            android:name="cn.tzl.shop.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="cn.tzl.shop.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="cn.tzl.shop.GoodsActivity"
            android:label="@string/title_activity_goods" >
        </activity>
        <activity
            android:name="cn.tzl.shop.AddGoodsActivity"
            android:label="@string/title_activity_add_goods" >
        </activity>
        <activity android:name="cn.tzl.shop.GoodsShowActivity"></activity>
    </application>

</manifest>
